{sub_dirs, ["rel"]}.

{deps, [
	{riak_pb, "2.0.0.9-1-g884dfa9", {git, "git://github.com/basho/riak_pb", {tag, "2.0.0.9-1-g884dfa9"}}},
    {lager, "2.0", {git, "git://github.com/basho/lager", {tag, "2.0.3"}}},
    {riak_core, ".*", {git, "git://github.com/basho/riak_core", {branch,"develop"}}},
	{riakc, ".*", {git, "git://github.com/balegas/riak-erlang-client", {branch, "crdtdb_version"}}}
]}.

{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.

